<f:section name="Replace">
	<f:if condition="{toolList}">
		<f:then>
			<div id="tx-rkwtools-boxes-grid" class="tiles-wrapper">
                <div class="tiles flex-container flex-container--margin">
				    <f:render partial="Tool/List/Common" arguments="{_all}" />
                </div>
			</div>
		</f:then>
		<f:else>
			<f:render partial="Tool/List/NoResults" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>

<f:section name="Append">
	<f:if condition="{toolList}">
		<f:then>
			<f:render partial="Tool/List/Common" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render partial="Tool/List/NoResults" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>