<f:section name="Replace">
	<f:if condition="{toolList}">
		<f:then>
			<div id="tx-rkwtools-boxes-grid" class="boxes-grid">
				<f:render partial="Tool/List/Common" arguments="{_all}" />
			</div>
		</f:then>
		<f:else>
			<f:render partial="Tool/List/NoResults" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>

<f:section name="Append">
	<f:if condition="{toolList}">
		<f:then>
			<f:render partial="Tool/List/Common" arguments="{_all}" />
		</f:then>
		<f:else>
			<f:render partial="Tool/List/NoResults" arguments="{_all}" />
		</f:else>
	</f:if>
</f:section>