<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <div class="flex-container flex-basis-12 center-main">
        <div class="no-results">
            <p class="no-results__headline">
                <f:translate key="partials_tool_list_noresults.text1" extensionName="RkwTools" />
            </p>

            <f:if condition="{settings.showFilter}">
                <p class="no-results__text">
                    <f:translate key="partials_tool_list_noresults.text2" extensionName="RkwTools" />
                    <br>
                    <f:translate key="partials_tool_list_noresults.text3" extensionName="RkwTools" />
                </p>
            </f:if>
            <p class="no-results__text">
                <f:translate key="partials_tool_list_noresults.text4" extensionName="RkwTools" />
                <br>
                <f:translate key="partials_tool_list_noresults.text5" extensionName="RkwTools" />
            </p>
        </div>
    </div>

</html>
