<div class="no-search-results first-letter-normal content content-box wysiwyg">
	<div id="c2180" class="csc-default csc-element-n1">
		<h3>
			<strong>
				<f:translate key="partials_tool_list_noresults.text1" extensionName="RkwTools" />
			</strong>
		</h3>
        <f:if condition="{settingsArray.showFilter}">
            <p>
                <f:translate key="partials_tool_list_noresults.text2" extensionName="RkwTools" />
                <br>
                <f:translate key="partials_tool_list_noresults.text3" extensionName="RkwTools" />
            </p>
        </f:if>
		<p>
			<f:translate key="partials_tool_list_noresults.text4" extensionName="RkwTools" />
			<br>
			<f:translate key="partials_tool_list_noresults.text5" extensionName="RkwTools" />
		</p>
        <f:comment>
            <p>
                <f:translate key="partials_tool_list_noresults.phone" extensionName="RkwTools" />
                <br>
                <f:translate key="partials_tool_list_noresults.email" extensionName="RkwTools" />
                <a data-tracker-project="www.rkwkompetenzzentrum.de" data-tracker-type="mailto" href="javascript:linkTo_UnCryptMailto('pdlowr-nrppxqlndwlrqCunz1gh');" title="<f:translate key='partials_tool_list_noresults.email.title' extensionName='RkwTools' />">kommunikation(at)rkw.de</a>
            </p>
        </f:comment>
	</div>
</div>